.about_wrapper {
  position: relative;

  .body {
    background: #2c2b2b;
    width: 100vw;
    height: 100vh;
  }

  .overlay {
    background: #a2a2a2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  h1 {
    text-align: center;
  }
}
