@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .header-h {
    @apply text-7xl mb-4 uppercase;
  }

  .header_icon {
    @apply border-2 border-r-0 last:border-r-2 first:rounded-l-full last:rounded-r-full border-black p-3 first:pl-4 last:pr-4 text-[1.4rem];
  }
}
