@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .header-h {
    @apply text-3xl lg:text-7xl mb-2 lg:mb-4 uppercase;
  }

  .header-main-h {
    @apply text-5xl lg:text-7xl mb-2 lg:mb-4 uppercase;
  }

  .header-sm {
    @apply text-xl lg:text-4xl mb-2 lg:mb-4 uppercase text-center;
  }

  .header_icon {
    @apply border-2 border-r-0 last:border-r-2 first:rounded-l-full last:rounded-r-full border-[#f4f8fb] py-2 lg:py-3 px-3 lg:px-4 first:pl-4 last:pr-4 text-[1rem] lg:text-[1.4rem] hover:bg-[#f4f8fb] hover:text-[#000000] duration-300 cursor-pointer;
  }

  .about_card {
    @apply bg-[#000000] text-[#f4f8fb] rounded-lg px-[4vw] py-[4vh] text-[1rem] md:text-[1.1rem] md:w-[50vw] mx-[8vw];
  }

  .about_link_card {
    @apply md:w-[26vw] mx-[8vw] relative border-2 rounded-lg md:mx-[8vw] mb-4 last:mb-0;
  }

  .about_link_card_title {
    @apply absolute bottom-0 left-0 bg-[#000000cc] w-full py-[2vh] px-[1vw] text-xl text-[#f4f8fb] flex justify-between cursor-pointer border-t-2 border-[#fff];
  }

  .whatiknow_box_wrapper {
    @apply border-r-2 border-r-[#000000] w-full last:border-r-0 px-[2vw] py-[4vh];
  }

  .whatiknow_box_skill_progress {
    @apply rounded-full h-3 w-full bg-[#000] border-2 border-[#000] flex items-center;
  }

  .whatiknow_box_skill_progress_elem {
    @apply rounded-full h-2 bg-[#fff];
  }
}

* {
  font-family: "osiris";
  @apply overflow-hidden lg:overflow-visible;
}

@font-face {
  font-family: "osiris";
  src: url("https://hetref.github.io/portfolio-assets/fonts/osiris/Osiris.otf"); /*URL to font*/
}
